body, html {
  margin: 0;
  height: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid black;
}

.ship {
  background-color: skyblue;
  border-color: blue;
}

.shot {
  background-color: pink;
  border-color: red;
  font-weight: bold;
}

.missed {
  background-color: gray;
}